<article class="file-upload">
    <header>
        {{ ux_icon('file') }}
        <h3 data-dz-name></h3>
        <span class="file-upload__status">
            <span class="file-upload__status__progress"></span>
            <span class="file-upload__status__success">✓ {{ 'files.uploaded'|trans }}</span>
            <span class="file-upload__status__error">{{ 'error.title'|trans }}</span>
        </span>
    </header>
    <progress max="100" data-dz-uploadprogress></progress>
    <p class="file-upload__error" data-dz-errormessage></p>
</article>
