{% apply spaceless %}
<div class="progress dz-progress">
    <div class="dz-filename" data-dz-name></div>
    <div class="dz-error-message" data-dz-errormessage></div>
    <span class="fa fa-fw fa-times dz-remove" data-dz-remove></span>
    <div class="progress-bar progress-bar-info" data-dz-uploadprogress></div>
</div>
{% endapply %}
