<dialog>
    <header>
        <h2 class="modal-title"></h2>
        <button class="icon-only close" aria-label="{{ 'common.close'|trans }}">{{ ux_icon('close') }}</button>
    </header>
    <div class="modal-body">

    </div>
</dialog>
