@import 'compass/css3/border-radius';

#add-torrent-form {
    @include border-top-radius(0);
    height: 35px;
    padding: 0;
    position: relative;

    &.enabled {
        height: 150px;
    }
}

@media (max-width: 767px) {
    #add-torrent-form {
        &.enabled {
            border-top: 51px solid #000;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;

            #add-torrent-file {
                @include border-bottom-left-radius(0);
            }

            #add-torrent-submit {
                @include border-bottom-right-radius(0);
            }
        }
    }
}

#add-torrent-file-drop {
    background-color: #fff;
    bottom: 32px;
    display: none;
    overflow: auto;
    padding: 0 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.dz-started {
    > .dz-message {
        display: none;
    }
}

.dz-message {
    font-size: 1.5em;
    padding: 43px 0;
    text-align: center;
}

.dz-progress {
    margin: 2px 1px;
    position: relative;
}

.dz-remove {
    cursor: pointer;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
}

.dz-filename,
.dz-error-message {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dz-filename {
    left: 4px;
    position: absolute;
    right: 18px;
}

.dz-error-message {
    color: #f00;
    display: none;
    padding-left: 4px;
    padding-right: 17px;
}

.dz-error {
    > .dz-filename {
        display: none;
    }

    > .dz-error-message {
        display: block;
    }
}

#add-torrent-magnet-wrapper {
    bottom: 32px;
    display: none;
    left: -1px;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 3;
}

#add-torrent-magnet-input {
    @include border-radius(0);
    border-top: 0;
    height: 100%;
    resize: none;
}

#add-torrent-controls {
    bottom: -1px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    right: -1px;
}

#add-torrent-file {
    @include border-top-left-radius(0);
}

#add-torrent-magnet {
    > .fa {
        position: relative;
        top: 1px;
    }
}

#add-torrent-file-counter,
#add-torrent-magnet-counter {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    width: 15px;
}

#add-torrent-submit {
    @include border-top-right-radius(0);
    display: block;
    float: none;
    margin-left: 114px;
}
