
.search-control {
    margin: 20px 0;

    > select.form-control {
        float: left;
        width: auto;
    }

    > .input-expander {
        overflow: hidden;

        > input {
            border-left: 0;
        }
    }
}

.nav-tabs {
    margin-bottom: 10px;
}

.col-size,
.col-age {
    text-align: center;
    width: 100px;
}

.col-seeders,
.col-leechers,
.col-add-magnet {
    text-align: center;
    width: 50px;
}

td.col-seeders {
    color: green;
}

td.col-leechers {
    color: red;
}
