{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.47",
                "targets": "defaults"
            }
        ],
        "@babel/preset-typescript"
    ]
}
