
/.idea/
/bin/*
/composer.phar
/node_modules/
/public/*

!/bin/console
!/public/index.php
!/public/robots.txt

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
