
/.idea/
/assets/fonts/font-awesome/
/assets/css/font-awesome/_icons.scss
/bin/*
/composer.phar
/package-lock.json

.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

!/bin/console

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
