includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
    symfony:
        containerXmlPath: var/cache/dev/Athorrent_KernelDevDebugContainer.xml
