{% extends 'skeleton.html.twig' %}

{% block title %}{{ 'users.add.title'|trans }} - {{ 'app.name'|trans }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'users.add.title'|trans }}</h1>
    </div>

    {{ form(form) }}
{% endblock %}
