
.dz-message {
    font-size: 1.5em;
    padding: 43px 0;
    text-align: center;
}

.dz-started {
    > .dz-message {
        display: none;
    }
}

.dz-progress {
    margin: 2px 1px;
    position: relative;
}

.dz-remove {
    cursor: pointer;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
}

.dz-filename,
.dz-error-message {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dz-filename {
    left: 4px;
    position: absolute;
    right: 18px;
}

.dz-error-message {
    color: #f00;
    display: none;
    padding-left: 4px;
    padding-right: 17px;
}

.dz-error {
    > .dz-filename {
        display: none;
    }

    > .dz-error-message {
        display: block;
    }
}
