
.panel-fixed-bottom {
    box-shadow: 0 0 5px -3px;
    bottom: 0;
    left: 0;
    min-height: 300px;
    max-height: 70vh;
    position: fixed;
    width: 100%;

    > .torrent-panel-header {
        align-items: center;
        background-color: #f9f9f9;
        display: flex;
        justify-content: space-between;

        > .nav-tabs {
            border-bottom: 0;
            flex: 1;
            margin-bottom: 0;
        }

        .torrent-panel-close {
            flex-shrink: 0;
            margin-right: 15px;
        }
    }
}

.input-group-btn:not(:first-child, :last-child) > .btn {
    border-radius: 0;

    &:first-child {
        margin-left: -1px;
    }

    &:last-child {
        margin-right: -1px;
    }
}
