@use "vars" as *;

.torrent {
    border: $border;
    border-radius: $radius-xl;

    + .torrent {
        margin-top: 10px;
    }

    --torrent-color: #{$color-primary};

    &.torrent--paused {
        --torrent-color: #{$color-torrent-paused};
    }

    &.torrent--downloading,
    &.torrent--seeding {
        --torrent-color: #{$color-success};
    }

    &.torrent--disabled {
        --torrent-color: #{$color-torrent-disabled};
    }

    &.torrent--missing_files,
    &.torrent--error {
        --torrent-color: #{$color-danger};
    }
}

.torrent-header {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: $border;
}

.torrent-name {
    flex: 1 1 0;
    padding: 5px 8px;
    overflow: hidden;
    font-weight: normal;
    font-size: inherit;
}

.torrent-state {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-right: 8px;
    flex-shrink: 0;
    color: $color-text-muted;

    &:before {
        width: 7px;
        height: 7px;
        border-radius: $radius-full;
        background: var(--torrent-color);
        flex-shrink: 0;
        content: '';
    }
}

progress {
    --progress-color: var(--torrent-color);
}

.torrent-middle-container {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}

.torrent-info {
    display: flex;
    gap: 16px;
}

.torrent-info-value {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;

    svg {
        display: block;
        flex-shrink: 0;
        color: $color-text-disabled;
    }
}

.torrent-info,
.torrent-controls {
    padding-top: 8px;
    margin-bottom: -4px;
}

.torrent-controls {
    margin-left: auto;
}

@media (width < $breakpoint-mobile) {
    .torrent-middle-container {
        padding: 10px;
    }

    .torrent-info {
        gap: 10px;
    }

    .torrent-controls {
        margin-left: 0;
        flex: 1 1 100%;
    }
}
