
.administration-tile {
    margin-left: 20px;
    width: 175px;

    &:first-child {
        margin-left: 0;
    }

    .fa {
        display: block;
        font-size: 95px;
        margin: auto;
        padding: 10px;
    }
}
