@use "vars" as *;
@use "app-base";

@use "components/breadcrumb";

img.content {
    object-fit: contain;
    min-height: 0;
    margin: auto;
}

pre {
    line-height: 1.4286;
    margin-bottom: 10px;
    padding: 9.5px;
    overflow-wrap: break-word;
    background-color: $color-pre-bg;
    border: 1px solid $color-pre-border;
    border-radius: $radius-md;
}
