
.alert {
    margin-top: 20px;
}

.logo {
    float: left;
}

@media (min-width: 768px) {
    .jumbotron {
        margin-top: 30px;
    }

    .logo {
        margin-right: 50px;
        margin-top: 30px;
    }

    .jumbotron-text {
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .jumbotron {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
    }

    .logo {
        margin-right: 10px;
        margin-top: 25px;
    }
}

.block {
    overflow: hidden;

    > .fa, .fab {
        float: left;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .block {
        > .fa, .fab {
            font-size: 40px;
            margin-top: 25px;
        }
    }

    .block-text {
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .block {
        > .fa, .fab {
            font-size: 23px;
            margin-top: 24px;
            margin-right: 10px;
        }
    }
}
