
$icon-font-path: '../../fonts/bootstrap/';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme';

@import './font-awesome';

html {
    height: 100%;
}

body {
    min-height: 100%;
    //padding-bottom: 90px;
    padding-bottom: 20px;
    padding-top: 50px;
    position: relative;
}

h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #eee;
    bottom: 0;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}
