@use "vars" as *;

.search-control {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;

    > select {
        flex-shrink: 0;
    }

    > input {
        flex: 1 1 0;
        min-width: 140px;
    }
}

table {
    text-align: center;
}

.col-title {
    max-width: 0;
    width: fit-content;
    white-space: wrap;
}

.col-size,
.col-age {
    width: 100px;
}

.col-seeders,
.col-leechers,
.col-add-magnet {
    width: 50px;
}

td.col-seeders {
    color: $color-success;
}

td.col-leechers {
    color: $color-danger;
}
