@use "../vars" as *;

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    list-style-type: none;
    margin-top: 4px;

    li {
        color: $color-text-secondary;

        &::before {
            content: '';
            background-image: url('../../icons/left-chevron.svg');
            width: 11px; height: 11px;
            display: inline-block;
            position: relative; top: 1px;
            margin-right: 4px;
        }
    }
}
