@use "../vars" as *;

@use "./form";

.form-box {
    h1 {
        margin-bottom: 20px;
    }

    width: 100%;
    max-width: 360px;
    background: $color-bg;
    border: $border;
    border-radius: $radius-xl;
    padding: 32px 28px;
    box-shadow: $color-shadow 0 4px 24px;
    margin: auto;

    @media (width < $breakpoint-mobile) {
        padding: 24px 20px;
    }
}
