@use "../vars" as *;

table {
    min-width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    line-height: 20px;
    border: $border;
    border-radius: $radius-xl;
    background: $color-bg;
    text-align: right;
}

th {
    font-weight: 600;
    border-bottom: $border;
    background: $color-surface-6;
    padding: 8px 12px;
}

thead tr:first-child {
    th:first-child {
        border-top-left-radius: $radius-xl;
    }

    th:last-child {
        border-top-right-radius: $radius-xl;
    }
}

tbody > tr:nth-child(even) {
    background: $color-surface-6;
}

tbody tr:last-child {
    td:first-child {
        border-bottom-left-radius: $radius-xl;
    }

    td:last-child {
        border-bottom-right-radius: $radius-xl;
    }
}

td {
    padding: 8px 12px;
    width: 0;
    white-space: nowrap;
    height: 50px;
}

.text-col {
    max-width: 0;
    white-space: normal;
    overflow-wrap: break-word;
    width: max-content;
}

@media (width < $breakpoint-mobile) {
    th,
    td {
        padding: 6px 8px;
    }
}

.text-left {
    text-align: left;
}
