@use "../vars" as *;

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-gutter-wide;
    background: $color-bg;
    border-bottom: $border;
    position: sticky;
    top: 0;
    z-index: 10;
    flex: 0 0 52px;

    @media (width < $breakpoint-mobile) {
        padding: 0 $spacing-gutter-mobile;
    }

    .brand {
        margin-right: auto;
    }

    &.navbar-mode {
        .menu-burger-button {
            position: absolute;
            left: $spacing-gutter-mobile;
        }

        .brand {
            margin-right: 0;
        }

        @media (width >= $breakpoint-mobile) {
            display: none;
        }
    }
}
