
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

img,
audio,
video {
    margin-top: 5px;
    max-width: 100%;
}

.media-container {
    text-align: center;

    > img,
    > audio,
    > video, {
        display: inline-block;
    }
}
