<ol class="breadcrumb">
    {% for name, path in breadcrumb %}
        <li{% if loop.last %} class="active"{% endif %}>
            {% if loop.last %}
                <span>{{ name }}</span>
            {% else %}
                <a href="{{ path('listFiles', { path: path }) }}">{{ name }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>
